/* media query*/
@media screen and (max-width:48rem){
  .grid-container{
    display: flex;
    flex-direction: column;
    margin: 10rem 2.5rem 2.5rem 2.5rem;
    padding: 2.5rem;
    box-sizing: border-box;
    max-width: 100%;
  }
  .textarea{
    margin: 0;
  }
  
  .sidebar_right-itens{
    padding: 2rem 0;
  }
  
  .sidebar_right-itens img{
    display: none;
  }
  
  .sidebar_right_result{
    max-width: 100%;
  }
  .sidebar_right_result p{
    margin-top: 1.875rem;
    font-size: 1.5rem;
   
  
  }
   
   .btn-copiar {
    max-width: 100%;
   }
  }
  
   @media screen and (max-width: 23.43rem){
    .logo{
      left: -1.5625rem;      
    }
    .grid-container{
      margin: 9.75rem 1rem 2.5rem 1rem;
      padding: 0;
      gap:4rem;
    }
    .btn{
      flex-direction: column;
      gap: 1.5rem;
    }
    .sidebar_right_result p{
      margin-top: 1.875rem;
      font-size: 1.5rem;
      
    }
    .btn-copiar {
      max-width: 100%;
     }
   }